* {
	margin: 0;
	padding: 0;
}

#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

#container {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}

#btn {
	width: 50px;
	height: 25px;
	margin: 20px;
}

#bubbleArea {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	height: 80%;
	border: 2px dotted gray;
	overflow: hidden;
}

.bubble {
	background-color: white;
	border: solid black;
	border-radius: 50%;
}

#bubble0 {
	width: 10px;
	height: 10px;
}

#bubble1 {
	width: 30px;
	height: 30px;
}

#bubble2 {
	width: 50px;
	height: 50px;
}

#bubble3 {
	width: 70px;
	height: 70px;
}